{% extends 'base.html' %} {% block content%}
{% load static %}
{% include 'partials/_alerts.html' %}
      
        
      <div>
      <header>
        <div id="header2">

        
            <div class="container vw-100 vh-100 ">
                <h3 id ="AlertDiv">Welcome To Alarmy</h3>
                <p id= 'AlertDiv2'>
                  Please Log in to the system <br>
                  For Turning the alarm  ON/OFF  , <br>
                  View History and Live 24/7
                </p>

                

               
            </div>
        </div>         
      </header>
      
{% endblock%}