{% extends 'base.html' %} {% block content%}
{% load static %}

      <div id="color">
          U successfuly logged in as Ophir AC
      <div>
      <header>
        <div id="header1">

        
            <div class="container vw-100 vh-100 ">
                <h3 id ="color_white">Alarm Setup</h3>
                <p id ="color_white" >In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).




                
                sdad    
                </p>
               
            </div>
        </div>         
      </header>
      
{% endblock%}