#header1{
    background-image: url('/home/djangoadmin/pyapps/Alarm_Project/Alarmy/static/css/images/index.jpg ');
    width: 100%;
    height: auto;
    background-size: cover;
}
#color_white{
    color: white;
}

#color{
    background-color: rgba(0, 255, 234, 0.582);
 
}

#header2{
    background-image: url('images/about1.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}
#history{
    background-image: url('images/history.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}
#AlertDiv {
    position:absolute;
    
    top: 198px;
    width: 1000px;
    
    color:white;
}

#AlertDiv h1{
    margin:auto;
    vertical-align:middle;
}

#AlertDiv2 {
    position:absolute;
    
    top: 250px;
    width: 1000px;
    
    color:white;
}

#Table {
    position:absolute;
    
    top: 350px;
    width: 1000px;
    
    color:white;
}
